<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
  background: url('https://cdni.rt.com/french/images/2018.11/article/5bf82d6709fac2513b8b4569.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
	margin-top: 20%;
	text-align: center;
	color: #ffffff;
	background-color: black;
}

.to_align {
	margin-left: 48%;
	margin-right: 48%
}

input[type=text], input[type=password]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: blue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}
</style>
</head>
<% if (1) { %>
<% } else { %>
<% } %>
<body>
<div>
<h1 class="welcome">BIENVENUE SUR LE SITE DES GILETS JAUNES</h1>
<a href="/login"><button class ="to_align" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></a>
</div>

</body>
</html>